<!--begin 待审核-->
<div class="tab-pane fade" id="wait">
    <div class="layui-card ">
        <div class="layui-card-body">
            <div class="layui-form-item">
                <label class="layui-form-label label-120">计划名称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="planName" placeholder="请输入部门简称" v-model="q.planName" @keyup.enter="query" class="form-control">
                </div>

                <label class="layui-form-label label-120">设备名称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="deviceId" placeholder="请输入部门全称" v-model="q.deviceId" @keyup.enter="query" class="form-control">
                </div>
                <button class="layui-btn layui-btn-sm search-btn " @click="query">
                    <i class="fa fa-search">&nbsp;</i>查询
                </button>
                <button class="layui-btn layui-btn-sm layui-btn-primary" @click="clearWhere">
                    <i class="fa fa-refresh">&nbsp;</i>重置</button>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span>计划申请列表</span>
            <div class="layui-btn-group pull-right top5 ">
                <button class="layui-btn layui-btn-sm layui-btn-gray" onclick="Page.open('添加申请','#(ctx)/plan/planApply/add','deptAdd','60%-80%')">
                    <i class="fa fa-plus">&nbsp;</i>增加
                </button>
            </div>
        </div>
        <div class="layui-form nowrap">
            <table id="waitTable" lay-filter="wait" ></table>
        </div>
    </div>

</div>
<script type="text/html" id="barApply">
    <a class="layui-btn layui-btn-xs" lay-event="export">申请表导出</a>
</script>
<!--end 待审核-->
<script type="text/javascript">

    //引用layui table
    var applyTable;
    layui.use(['table'],function () {
        applyTable = layui.table;
        applyTable.render({
            elem:'#applyTable',
            url:'#(ctx)/plan/planApply/getList/2',
            page:true,
            id:'applyTable',
            cols:[[
                {type:'numbers',title:'序号',width:'5%'},
                {field:'planName',title:'计划名称'},
                {field:'deviceCnName',title:'设备名称'},
                {field:'planType',title:'计划类型'},
                {field:'userDept',title:'使用科室'},
                {field:'budget',title:'预算金额'},
                {field:'createTime',title:'申请日期'},
                {field:'purchaseDate',title:'采购日期'},
                {field:'status',title:'状态'},
                {fixed:'right',align:'center',title:'操作',width:120,toolbar:'#barApply'}
            ]]
        });
        //监听工具条
        applyTable.on('tool(apply)',function(obj){
            var data = obj.data;
            var layEvent = obj.event;
            if(layEvent === 'export'){
                openIframe(data.id,'#(ctx)/plan/planApply/Export','申请表导出','60%-75%');
            }
        });
    })

    //重新渲染页面元素
    layui.use('laydate', function(){
        var laydate = layui.laydate,form=layui.form;
        form.render('select');
        laydate.render({
            elem: '#startDate'
        });
        laydate.render({
            elem: '#startDate1'
        });
    });
</script>
