#@iframeLayout()
#define mainContent()
<div class="wrapper" id="hyapp" v-cloak>
    <div class="layui-row">
        <div class="layui-col-md2" >
            <div class="panel panel-info ">
                <div class="panel-heading">
                    <h4>部门科室</h4>
                </div>
                    <input type="text" placeholder="部门搜索" value="" id="keyword" class="form-control">
                    <ul id="deptzTree" class="ztree" style="min-height: inherit"></ul>
            </div>
        </div>
        <div class="layui-col-md10">
            <div class="layui-card ">
                <div class="layui-card-body">
                        <div class="layui-form-item">
                            <label class="layui-form-label label-120">部门简称:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="simpleName" placeholder="请输入部门简称" v-model="q.simpleName" @keyup.enter="query" class="form-control">
                            </div>

                            <label class="layui-form-label label-120">部门全称:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="fullName" placeholder="请输入部门全称" v-model="q.fullName" @keyup.enter="query" class="form-control">
                            </div>
                                <button class="layui-btn layui-btn-sm search-btn " @click="query">
                                    <i class="fa fa-search">&nbsp;</i>查询
                                </button>
                                <button class="layui-btn layui-btn-sm layui-btn-primary" @click="clearWhere">
                                    <i class="fa fa-refresh">&nbsp;</i>重置</button>
                        </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>部门科室列表</span>
                    <div class="layui-btn-group pull-right top5 ">
                        <button class="layui-btn layui-btn-sm layui-btn-gray" onclick="Page.open('添加部门','#(ctx)/sys/dept/add','deptAdd','60%-80%')">
                            <i class="fa fa-plus">&nbsp;</i>增加
                        </button>
                    </div>
                </div>
                <div class="layui-form nowrap">
                    <table id="deptTable" lay-filter="dept" ></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="barDept">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
#end
#define js()
<script src="/statics/js/commonList.js"></script>
<script type="text/javascript">
    var setting = {
        view: {nameIsHTML: true, //允许name支持html
            selectedMulti: false},
        edit: {enable: false,editNameSelectAll: false},
        data: {simpleData: {enable: true}},
        callback: {beforeClick: zTreeBeforeClick}
    };
    function zTreeBeforeClick(treeId, treeNode, clickFlag){
        var id=treeNode.id;
        vm.q.pid = id;
        vm.query();
    }

    function initZtree(urlStr){
        $.ajax({
            type: "post",
            dataType: "json",
            url: urlStr,  //服务请求地址
            success: function(data) {
                initThisZtree(data);//传入数据,初始化ztree
                fuzzySearch('deptzTree','#keyword',false,true); //初始化模糊搜索方法
            }
        });
    }
    function initThisZtree(data){
        //初始化ztree三个参数分别是(jQuery对象,ztree设置,树节点数据)
        var treeObj=$.fn.zTree.init($("#deptzTree"), setting, data.data);
        treeObj.expandAll(true);
    }
    //初始化ztree数据
    $(document).ready(function(){
        initZtree("/cache/getDeptTree");
    });

    //引用layui table
    var deptTable;
    layui.use(['table'],function () {
        deptTable = layui.table;
        deptTable.render({
            elem:'#deptTable',
            url:'#(ctx)/sys/dept/getList',
            page:true,
            id:'deptTable',
            cols:[[
                {type:'numbers',title:'序号',width:'5%'},
                {field:'fullName',title:'部门全称'},
                {field:'simpleName',title:'部门简称'},
                {field:'deptName',title:'上级部门'},
                {field:'num',title:'排序'},
                {field:'tips',title:'备注'},
                {fixed:'right',align:'center',title:'操作',width:120,toolbar:'#barDept'}
            ]]
        });
        //监听工具条
        deptTable.on('tool(dept)',function(obj){
            var data = obj.data;
            var layEvent = obj.event;
            if(layEvent === 'del'){
                deleteOne(data.id,'#(ctx)/sys/dept/del','删除部门');

            }else if(layEvent == 'edit'){
                openIframe(data.id,'#(ctx)/sys/dept/edit','编辑-部门信息','60%-75%');
            }
        });
    });

    //实例化vue
    var vm = new Vue({
        el:'#hyapp',
        data:{
            q:{simpleName:null,pid:null,fullName:null}
        },
        methods:{
            query: function () {
                vm.reload();
            },
            reload: function () {
                deptTable.reload('deptTable',{
                    where:vm.q,
                    page:{curr:1}
                })
            },
            clearWhere:function () {
                vm.q.simpleName = null;
                vm.q.pid = null;
                vm.q.fullName = null;
            }

        }
    })

</script>

#end

